@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';


/*
    Color variables
 */
$primaryColor: #CDEAC0;
$secondaryColor: #EFE9AE;
$tertiaryColor: #FEC3A6;
$quaternaryColor:#FF928B;
$quinaryColor: #FFAC81;

body{
    background-color: #333;
}
footer{
    text-align: center;
    margin-bottom: 20px;
    color:$primaryColor;
    position: absolute;
    bottom: 0;
    left: 46%; 
}

#placeholder{
    color: $quaternaryColor;
    text-align: center;
    margin-top: 20px;
}

/*
    Stretch out the main bootstap container max width to allow the graph width to be wider that unsual
 */
@media (min-width: 992px) {
    .container {
        max-width: 1350px;
    }
}

/*
    Styling for inspiration page and card animations
 */
.nCard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 600px;
    margin: -150px;
    float: left;
    perspective: 500px;
}

.nContent {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.nCard:hover .nContent {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    line-height: 550px;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    border-radius: 5px;
    backface-visibility: hidden;
}

.back {
    background: black;
    color: white;
    transform: rotateY( 180deg );
}

.back{
    a {
        color: white;
    }
}

.inspoHead{
    text-align: center;
    margin: 0 auto 10px auto;
    font-weight: bolder;
    color: $quinaryColor;
}


/*
    Main Graph Container
 */
.mainContent{
    padding: 20px;
}

/*
    Boostrap button styling and re-colour
 */
.btn-outline-success{
    border-color: $primaryColor;
    color: $primaryColor ;
    &:hover{
        text-decoration: none;
        background-color: $primaryColor !important;
        border-color: $primaryColor;
        color: black ;
    }
}

.btn-outline-info{
    border-color: $secondaryColor;
    color: $secondaryColor ;
    &:hover{
        text-decoration: none;
        background-color: $secondaryColor !important;
        border-color: $secondaryColor;
        color: black ;
    }
}

.btn-outline-danger{
    border-color: $tertiaryColor;
    color: $tertiaryColor ;
    &:hover{
        text-decoration: none;
        background-color: $tertiaryColor !important;
        border-color: $tertiaryColor;
        color: black ;
    }
}

.btn-outline-primary{
    border-color: $quaternaryColor;
    color: $quaternaryColor ;
    &:hover{
        text-decoration: none;
        background-color: $quaternaryColor !important;
        border-color: $quaternaryColor;
        color: black ;
    }

}

.btn-outline-warning{
    border-color: $quinaryColor;
    color: $quinaryColor ;
    &:hover{
        text-decoration: none;
        background-color: $quinaryColor !important;
        border-color: $quinaryColor;
        color: black ;
    }

}

.btn-success{
    border-color: $primaryColor;
    color: black;
    background-color: $primaryColor !important;
    &:hover{
        border-color: $primaryColor;
    }
}

.btn-info{
    border-color: $secondaryColor;
    color: black;
    background-color: $secondaryColor !important;
    &:hover{
        border-color: $secondaryColor;
    }
}

.btn-danger{
    border-color: $tertiaryColor;
    color: black;
    background-color: $tertiaryColor !important;
    &:hover{
        border-color: $tertiaryColor;
    }
}

.btn-primary{
    border-color: $quaternaryColor;
    color: black;
    background-color: $quaternaryColor !important;

}

.btn{
    margin: 0 20px;
}

.buttonGroup{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.modal-content{
    background-color: #343a40;
    color: whitesmoke;
}

.colorImg {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.close{
    color: whitesmoke;
    &:hover{
        color: mediumvioletred;
    }
}

.bubbles{
    stroke-width: 1px;
    stroke: black;
    opacity: .8
  }

.axisLabels{
    fill: whitesmoke;
    font-weight: bolder;
}

#viz{
    margin-top: 50px;
}

.yearLabel{
    text-shadow: #000 0px 0px 35px;
    -webkit-font-smoothing: antialiased;
}

#loader{
    left: 46%;
    position: absolute;
    top: 44%;
    width: 100px;
    height: 100px;
}