{% include "header.html" %}
<body>
    <main>
        <div class="container mainContent" >

            <div class="buttonGroup" style="display: none;" id="axisSelects">
              <div class="optionBoxes">
                <label for="yAxisOption">Y-Axis:</label>
                <select class="form-control" id="yAxisOption">
                  <option value="cell_phones">Cell Phones (Per 100 People)</option>
                  <option selected value="internet_users">Internet Users (Percent of the Population)</option>
                  <option value="life_expectancy_years">Life Expectancy (Years)</option>
                </select>
              </div>

              <div class="optionBoxes">
                <label for="xAxisOption">X-Axis:</label>
                <select class="form-control" id="xAxisOption">
                  <option selected value="cell_phones">Cell Phones (Per 100 People)</option>
                  <option value="internet_users">Internet Users (Percent of the Population)</option>
                  <option value="life_expectancy_years">Life Expectancy (Years)</option>
                </select>
              </div>
            </div>

            <p id="placeholder"></p>
            <img id="loader" src="{{url_for('static', filename='ajax-loader.gif')}}"/>
            <div id="viz"></div>

            <div class="vizControls" id="vizControls" style="display: none;">
              <button name="play" class="btn btn-outline-warning" id="play">Play</button>
              <input type="range" id="slider" name="slider" min="1960" max="2016" value="1960" class="slider">
            </div>

        </div>
    </main>
</body>
</html>
