{% include "header.html" %}
<body>
    <main>
        <div class="container" style="margin-top: 50px; display: block; min-height: 82vh">
            <h1 class="inspoHead">INSPIRATION WEBSITES</h1>
            <div class="row" style="height: 50px;">
                <div class="col-12" style="color: whitesmoke">
                    <p>As you can tell straight off the bat, I am a massive fan of dark theme websites. Websites with neutral "noir" colour pallets and a minimal design I think to stand out a lot more in this day and age. I'm also a massive fan of minimal but meaningful animation to make interaction slightly more exciting! </p>
                </div>
            </div>
            <div class="row" style="height: 350px;">
                <div class="col-3" style="margin: 45px;">
                    <div class="nCard">
                        <div class="nContent">
                            <div class="front" style="background-image: url({{ url_for('static', filename='ever.png') }});">
                                Ever & Ever
                            </div>
                            <div class="back">
                                <a href="https://www.everandever.co/"><span>Check it Out!</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="margin: 45px;">
                    <div class="nCard">
                        <div class="nContent">
                            <div class="front" style="background-image: url({{ url_for('static', filename='brown.png') }});">
                                Rich Brown
                            </div>
                            <div class="back">
                                <a href="https://www.richbrown.info/"><span>Check it Out!</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="margin: 45px;">
                    <div class="nCard">
                        <div class="nContent">
                            <div class="front" style="background-image: url({{ url_for('static', filename='bunny.png') }});">
                               Garden Eight
                            </div>
                            <div class="back">
                                <a href="https://garden-eight.com/"><span>Check it Out!</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="display: block; margin-bottom:20px">
            <div class="row">
                <div class="col-12" style="color: whitesmoke">
                    <p>To accent the dark them nature of this website I`ve used a <a href="https://coolors.co/"> color generator</a> to help me generate a colour scheme with some more "pastel tones", this helps to replace the somewhat abrasive and bright boilerplate bootstrap colors.</p>
                    <img src="{{ url_for('static', filename='colors.png') }}" class="colorImg">
                </div>
            </div>
        </div>
    </main>
<footer class="footer">
    &copy Dion Bedford
</footer>
</body>
</html>