{% include "header.html" %}
<body>
    <main>
        <div class="container" style="margin-top: 50px;">
            <div class="row" style="height: 290px;">
                <div class="col-3" style="margin: 0 10px;">
                    <div class="nCard">
                        <div class="nContent">
                            <div class="front">
                                Front
                            </div>
                            <div class="back">
                                Back!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="margin: 0 10px;">
                    <div class="nCard">
                        <div class="nContent">
                            <div class="front">
                                Front
                            </div>
                            <div class="back">
                                Back!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="margin: 0 10px;">
                    <div class="nCard">
                        <div class="nContent">
                            <div class="front">
                                Front
                            </div>
                            <div class="back">
                                Back!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<footer>

</footer>
</body>
</html>